.footer {
  background-color: #11063a;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.socialIcons {
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 24px;
  margin: 0 1rem 0 1rem;
  color: #fff;
  transition: color 0.3s ease-in-out;
  height: 35px;
  width: 35px;
}

.icon:hover {
  color: #007bff;
}

p {
  margin: 0;
}
.foo-detail {
  color: #ffffff;
  margin: 2rem;
}
