@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  background-color: #060214;
  overflow-x: hidden;
}
.home {
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.container {
  height: 800px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .circle {
  border: 1px solid #fff;
  height: 600px;
  width: 400px;
  border-radius: 50%;
  margin: 2rem;
} */
.circle .image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.info {
  height: 300px;
  width: 500px;
  margin-left: 20rem;
  margin-top: 10rem;
}
.name {
  display: flex;
}
.text {
  color: #ffffff;
  margin: 4px;
}
.text-name {
  color: #fff;
  margin: 4px;
  position: relative;
}

.text-name::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  animation: typing 2.5s steps(200) infinite;
  background: #060214;
}

@keyframes typing {
  100% {
    left: 100%;
  }
}
.info {
  height: 100px;
  width: 300px;
  margin: 5rem;
}
.text {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.1rem;
}
.text-name {
  color: #1007e8;
  font-size: 1rem;
  line-height: 1.5rem;
}
.circle {
  height: 220px;
  width: 220px;
  margin: 10rem;
}
.circle .image {
  height: 100%;
  width: 100%;
}

@media (max-width: 1020px) {
  .info {
    height: 50px;
    width: 300px;
    margin: 5rem;
  }
  .text {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.1rem;
  }
  .text-name {
    color: #1007e8;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .circle {
    height: 200px;
    width: 200px;
    margin: 5rem;
  }
  .circle .image {
    height: 100%;
    width: 100%;
  }
}

.arrow {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100px;
  position: absolute;
  left: 53%;
  margin-top: 10rem;
  transform: translate(-50%, -50%);
}
@media (max-width: 1314px) {
  .arrow {
    left: 54%;
  }
}

@media (max-width: 1000px) {
  .arrow {
    left: 55%;
  }
}
@media (max-width: 950px) {
  .arrow {
    left: 56%;
  }
}
@media (max-width: 600px) {
  .arrow {
    left: 59%;
  }
}
@media (max-width: 450px) {
  .arrow {
    left: 60%;
  }
}

.arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #11063a !important;
  border-right: 3px solid #11063a !important;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.skills-container {
  height: 500px;
  width: 100vw;
  margin-top: -2rem;
}

.skills_heading {
  color: white;
  margin-top: 2rem;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  font-size: 4vw;
  color: #252839;
  -webkit-text-stroke: 1px #329d52;
  text-transform: uppercase;
}
.logos {
  display: flex;
  margin: 10rem;
  padding: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.html_logo {
  border-radius: 50%;
  margin: 2rem;
  height: 55px;
  width: 55px;
  border: 1px solid #1007e8;
  cursor: pointer;
}
.image_html {
  padding: 0px;
  margin-top: 10px;
  height: 35px;
  width: auto;
}
.css_logo {
  border-radius: 50%;
  margin: 2rem;
  height: 55px;
  width: 55px;
  border: 1px solid #1007e8;
  cursor: pointer;
}
.image_logo {
  margin-left: 2px;
  margin-top: 6px;
}
.image_css {
  padding: 0px;
  margin-left: 8px;
  margin-top: 8px;
  height: 35px;
  width: auto;
}

#profile_img {
  height: auto;
  width: auto;
  border-radius: 8px;
  border: 1px solid green;
}

.nextjs_css {
  padding: 0px;
  margin-left: 5px;
  margin-top: 8px;
  height: 35px;
  width: auto;
}
.nexjs_logo {
  background-color: #fff;
  border: 1px solid white !important;
}
.nextjs_image_logo {
  margin-top: 8px;
}

.leetcode_div {
  height: 100px;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.temp {
  margin-top: 20rem;
}

.leetcode_logo {
  border-radius: 50%;
  margin: 10rem auto 2rem auto;
  height: 55px;
  width: 55px;
  border: 1px solid #1007e8;
  cursor: pointer;
}
.image_leetcode {
  padding: 0px;
  margin: 10px auto auto 12px;
  height: 35px;
  width: auto;
  cursor: pointer;
}

.projects_div {
  margin: 10rem auto auto auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100vw;
}

.projects {
  display: flex;
  margin: 10rem;
  padding: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.project {
  display: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 5rem auto;
  height: 700px;
  width: 600px;
  border-radius: 8px;
}

.project_image {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 2rem auto;
  border: 1px solid #11063a;
  width: 550px !important;
  height: 300px !important;
  border-radius: 8px;
}

.project_decs {
  font-family: "Courier New", Courier, monospace;
  margin: auto;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 320px;
  width: 600px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .project_decs {
    height: 320px;
    width: 400px;
  }
}
@media (max-width: 768px) {
  .edu_10th_box {
    height: 200px;
    width: 400px;
  }
}

@media (max-width: 768px) {
  .container {
    display: block;
    height: 800px !important;
    width: 400px !important;
    margin: auto !important;
  }
  .circle {
    margin: 2rem auto 2rem auto;
  }
  .info {
    margin: 10rem auto auto 5rem;
  }
}
